nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

 
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  
  nav a:hover {
    color: red;
  }